main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.sidebar {
  background-color: white;
  padding: calc(50px * 1080 / 1369) calc(35px * 1080 / 1369);
  width: calc(136px * 1080 / 1369);
  border-radius: calc(60px * 1080 / 1369) 0 0 calc(60px * 1080 / 1369);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: calc(74px * 1080 / 1369); */
}

.session p {
  font-size: calc(32px * 1080 / 1369);
  font-weight: 600;
}

.bubble-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: calc(20px * 1080 / 1369);
  border-radius: 50%;
  width: calc(64px * 1080 / 1369);
  height: calc(64px * 1080 / 1369);
  /* margin-bottom: calc(208px * 1080 / 1369); */
}

.bg-chat {
  background-color: #fedfc0;
}

.bg-menu {
  background-color: #f7f6fc;
}

.bubble-icon i {
  font-size: calc(24px * 1080 / 1369);
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding: calc(10px * 1080 / 1369) calc(4px * 1080 / 1369);
  border-radius: calc(54px * 1080 / 1369);
  width: fit-content;
  gap: calc(29px * 1080 / 1369);
  /* margin-bottom: calc(180px * 1080 / 1369); */
}

.side-menu .menu {
  padding: calc(12px * 1080 / 1369);
  width: fit-content;
  border-radius: 50%;
}

.side-menu .menu.active {
  background-color: #5058e3;
}

.side-menu .menu i {
  font-size: calc(28px * 1080 / 1369);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  background-color: #fedfc0;
  padding: 40px;
}

.transaction {
  display: flex;
  gap: 40px;
}

.transaction > div {
  background-color: white;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}

.transaction-container {
    overflow-y: scroll;
    height: calc(100% - 24px)
}

.transaction-row {
  padding: calc(24px * 1080 / 1369) 0;
  display: flex;
  gap: calc(40px * 1080 / 1369);
  border-bottom: 1px solid #ebebeb;
  max-width: 716px;
  width: 100%;
  justify-content: space-between;
}

.transaction-row .user {
  display: flex;
  gap: 20px;
}

.transaction-row .user .thumbnail {
  border-radius: full;
  width: 50px;
  height: 50px;
}

.transaction-row .user .thumbnail img {
  width: 100%;
  height: 100%;
}

.transaction-row .user .user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-row .user .user-info .name {
  font-weight: 500;
}

.transaction-row .user .user-info .date {
  color: #c1c0c9;
}

.transaction-row .info-action {
  display: flex;
  gap: calc(40px * 1080 / 1369);
  align-items: center;
}

.transaction-row .history {
  font-weight: 600;
}

.transaction-row .action {
  cursor: pointer;
  width: calc(24px * 1080 / 1369);
  height: calc(24px * 1080 / 1369);
  display: flex;
  align-items: center;
  justify-content: center;

}

.transaction-row .action:hover {
  background-color: #fedfc0;
  border-radius: 50%;
}

.transaction-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(30px * 1080 / 1369);
    border-bottom: 1px solid #ebebeb;
}

.transaction-sort {
    display: flex;
    gap: calc(30px * 1080 / 1369);

}

.transaction-card {
    height: 344px;
    overflow: hidden;
}

.card-title {
    font-size: 21px;
    font-weight: 600;
}

.dummy {
    width: 100%;
    height: fit-content;
}

.hello {
    font-size: 31px;
    line-height: 38px;
    font-weight: 600;
}

.flex-1 {
    flex: 1;
}